# Python specific
*.pyc
__pycache__/
venv/
*.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.dat

# Model artifacts
*.pkl

# Visualizations
/visualizations/

# Temporary files
*.tmp

# Logs and output files
*.log
/output/

# Virtual environment
/venv/
/env/
/.venv/
Pipfile.lock

# Large files
*.zip
*.gz
*.tar
*.rar
*.7z
*.bz2
*.mp4
*.avi
*.mov
*.iso
*.dmg
*.bin
